html{
	font-size: 62.5%;
}

body{
    --font-color: #ffffff;
    --background-base: #0f2027;
    --background-secondary: #203a43;
    --background-last: #2c5364;
 	background: var(--background-base);
 	background: linear-gradient(to right, var(--background-base), var(--background-secondary), var(--background-last));
 }
 
 .nav_button{
    max-width: 5%;
    max-height: 10%;
    top: 0;
    left: 0;
    z-index: 10;
    position: fixed;
 }

 .nav_button:hover{
    transition: 1s;
    transform: rotate(360deg);
 }

input[type=checkbox]:checked ~ .nav{
  transition: 3s;
  display: block;
  opacity: 1;
  left: 0;
  top: 0;
  z-index: 4;
}

.nav{
    transition: 3s;
    position: fixed;
    background-image: linear-gradient(to right top, var(--background-secondary), #304953, #415963, #526a73, #637b84);
    width: 100%;
    height: 100%;
    display: none;
    opacity: 0;
}

.nav_link{
    display: flex;
    justify-content: center;
    align-content: space-around;
    list-style-type: none;
    color: var(--font-color);
    font-family: 'Raleway', sans-serif;
    font-size: 4rem;
}

 .vid_header{
    padding-top: 1rem;
 	position: inherit;
    min-width: 100%;
    z-index: 0;
 }

 .vid_header_2{
    padding-top: 1rem;
    min-width: 100%;
    z-index: 1;
    display: none;
    opacity: 0;
    transform: translate(2rem);
 }

input[type=checkbox]:checked ~ .vid_header_2{
  transition: 1s;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  opacity: 1;
  transform: translate(-2rem);
}

.container {
    width: 100%;
    height: 60%;
    overflow: hidden;
    position: relative;
}

.overlay {
    position:absolute;
    top:50%;
    left:10%;
    z-index:1;
    color: var(--font-color);
    font-family: 'Major Mono Display', monospace;
    font-size: 8rem;
    text-shadow: .7rem .7rem 0rem rgba(0, 0, 0, 0.2);
}

.slideshow_button {
    border: none;
    background-color: white;
    padding: 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: relative; 
    top:32%;
    left:85%;
    z-index:1;
    width: 5%;
    height: 5%;
    opacity: 0.7;
}

.slideshow_button:hover {
    transition: 1s;
    opacity: 0.3;
    transform: translate(-2rem);
}

input[type=checkbox]:checked ~ .vid_header{
  transition: 3s;
  transform: translate(-2rem);
  opacity: 0;
}

.about_title{
	 color: var(--font-color);
	 font-family: 'Raleway', sans-serif;
    font-size: 4rem;
    margin: 1rem;
}

.about_text{
    margin: 1rem;
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    width: 40%;
    height: 40%;
}

.textbox1 {
    background-image: linear-gradient(to bottom, rgba(255,255,255,1), rgba(255,255,255,0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.textbox2 {
    color: var(--font-color);
    opacity: 0;
    transform: translateY(-2rem);
}

.textbox1:hover {
    transition: 1s;
    background-image: linear-gradient(to bottom, rgba(255,255,255,1), rgba(255,255,255,1));
}

.textbox1:hover + .textbox2 {
    transition: ease-out 1s;
    transform: translateY(.5rem);
    opacity: 100;
}

.about{
    padding: 10rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.about_image{
    width: 50%;
    height: 50%
}

.voyages{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    color: var(--font-color);
    font-family: 'Raleway', sans-serif;
    font-size: 4rem;
}

input[type=checkbox] {
	opacity: 0;
}

.click, .click2, .click3 {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	transform: translateY(-2rem);
	z-index: -1;
	transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
	width: 100%;
	height: 30rem;
	color: white;
  	font-size: 2rem;
  	background-color: black;
	text-align: center;
  	letter-spacing: .5rem;
  	display: block;
}

.click_image{
    z-index: 10;
}

.click_image:hover{
	transition: 1s;
	transform: scale(1.1);
	margin: .5rem;
}

.click_title{
    letter-spacing: 1rem;
    font-size: 3rem;
}

input[type=checkbox]:checked ~ .click{
   visibility: visible;
   display: block;
   opacity: 1;
   z-index: 5;
   transform: translateY(0%);
   transition-delay: 0s, 0s, 0.3s;
}

input[type=checkbox]:checked ~ .click2{
   visibility: visible;
   display: block;
   opacity: 1;
   z-index: 4;
   transform: translateY(0%);
   transition-delay: 0s, 0s, 0.3s;
}

input[type=checkbox]:checked ~ .click3{
   visibility: visible;
   display: block;
   opacity: 1;
   z-index: 3;
   transform: translateY(0%);
   transition-delay: 0s, 0s, 0.3s;
}

.reviews{
	margin-top: 10rem;
}

.review_container{
	position: relative;
}

.reviews_title{
	display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    color: var(--font-color);
    font-family: 'Raleway', sans-serif;
    font-size: 4rem;
}

.reviews_image{
	position: absolute;
	width: 10%;
    height: 30%;
	left: 0%;
	-webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    visibility: visible;
}

.reviews_textbox1, .reviews_textbox2{
	position: absolute;
	transform: translate(-1rem);
	opacity: 1;
	left: 40%;
	top: 50%;
	color: var(--font-color);
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
}

.vid_reviews{
    position: absolute;
    width: 30%;
    height: 30%;
    left: 10%;
   -webkit-clip-path: polygon(64% 0, 83% 50%, 61% 100%, 0% 100%, 20% 50%, 0% 0%);
    clip-path: polygon(64% 0, 83% 50%, 61% 100%, 0% 100%, 20% 50%, 0% 0%);
    transform: translate(-1rem);
    opacity: 0;
}

.reviews_image:hover{
    opacity: 0;
    transform: translate(10rem);
    transition: 1s;
}

.reviews_image:hover + .vid_reviews{
    opacity: 1;
    transform: translate(1rem);
    transition: 1s;
}

.reviews_image:hover ~ .reviews_textbox1{
    opacity: 1;
    transform: translate(1rem);
    transition: 1s;
}

@media screen and (max-width: 900px){
    
    html{
        font-size: 60%;
    }
    
    .nav_button{
      max-width: 10%;
      max-height: 20%;
    }
    
    .about_image{
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    display: block;
    overflow: hidden;
    }
    
    .about{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    }
    
    .about_text{
    margin: 0;
    padding: 1rem;
    width: 100%;
    height: auto;
    }
    
    .about_title{
    margin: 0;
    padding: 1rem;
  }
}

@media screen and (max-width: 600px){
	
	html{
      font-size: 50%;
    }
    
    .nav_button{
      max-width: 25%;
      max-height: 50%;
    }
    
    .about_image{
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    display: block;
    overflow: hidden;
    }
    
    .about{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;+
    }
    
    .about_text{
    margin: 0;
    padding: 1rem;
    width: 100%;
    height: auto;
    font-size: 3rem;
    }
    
    .about_title{
    margin: 0;
    padding: 1rem;
  	}
  	
  	.checkboxes{
    position: relative;
  	}

  	.click, .click2, .click3 {
  	transform: translateX(-2rem);
  	z-index: -1;
  	transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
  	width: 100%;
  	height: auto;
  	font-size: 3.5rem;
	}

  	input[type=checkbox]:checked ~ .click{
   	transform: translateX(0%);
   	transition-delay: 0s, 0s, 0.3s;
   	position: absolute;
   	top: 40%;
	}

  	input[type=checkbox]:checked ~ .click2{
   	transform: translateX(0%);
   	transition-delay: 0s, 0s, 0.3s;
   	position: absolute;
   	top: 70%;
	}

  	input[type=checkbox]:checked ~ .click3{
   	transform: translateX(0%);
   	transition-delay: 0s, 0s, 0.3s;
   	position: absolute;
   	top: 70%;
    }
   	
   	.vid_reviews{
    display: none;
   	}

    .reviews_image{
	width: 100%;
	height: auto;
	-webkit-clip-path: polygon(100% 0, 100% 54%, 51% 100%, 0 54%, 0 0);
	clip-path: polygon(100% 0, 100% 54%, 51% 100%, 0 54%, 0 0);
	}

	.review_image:hover{
	opacity: 1 !important;
	}

	.reviews_text{
	font-size: 3rem;
	}
  }